@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap");

/* font-family: 'Montserrat', sans-serif; */
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  height: auto;
  background-color: #6486bd;
  padding: 3%;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 500ms;
  overflow: scroll;
}
.card:hover {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.card .jobheader {
  display: flex;
  position: relative;
  /* justify-content: space-between; */
  align-items: center;
}

.jobheader .title {
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 18px;
}
.logo {
  width: 70px;
  position: absolute;
  right: 0;
}
.logo img {
  object-fit: contain;
  width: 100%;
}
.title i {
  color: rgb(42, 209, 42);
  margin-right: 10px;
}
.link {
  position: relative;
}
.title h1 {
  text-transform: capitalize;
  /* font-family: "Montserrat", sans-serif; */
}
.title p span {
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 5px;
}
p {
  margin-bottom: 5px;
  transition: 200ms;
}
.body p span {
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 5px;
}
p.link a {
  margin-left: 24px;
}
.body a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  text-transform: capitalize;
  color: #fff;
  margin: 10px 0px;
  width: 120px;
  padding: 5px;
  background-color: #27bace;
  transition: 200ms all;
}
.body a:hover {
  transform: scale(0.9);
  background-color: #0e63ec;
}
.readmore a {
  background-color: #50a854;
}
.readmore a:hover {
  transform: scale(0.9);
  background-color: #034407;
}
.apply {
  background-color: rgb(122, 49, 49);
  width: 100px;
  text-align: center;
  padding: 6px;
  color: #fff;
  border-radius: 8px;
}
